@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

:root {
    --bg-primary: #313647;
    --bg-secondary: #435663;
    --bg-tertiary: #A3B087;
    --bg-quaternary: #FFF8D4;
}

.dark {
    @apply bg-gray-800 text-white;

    --bg-primary: #313647;
    --bg-secondary: #b4b4b4;
    --bg-tertiary: #A3B087;
    --bg-quaternary: #FFF8D4;
}

.light {
    @apply bg-gray-200 text-black;
    --bg-primary: #d3d3d3;
    --bg-secondary: #435663;
    --bg-tertiary: #A3B087;
    --bg-quaternary: #FFF8D4;
}

@theme {
    --font-comfortaa: 'Comfortaa', cursive;
    --font-space-grotesk: 'Space Grotesk', sans-serif;
    --font-press-start: 'Press Start 2P', cursive;
}